<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/boxicon.css" />
  <link rel="stylesheet" href="assets/css/tablesaw.css" />
  <link rel="stylesheet" href="assets/choices.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" />
  <script src="/assets/js/tablesaw.js"></script>
  <script src="/assets/js/tablesaw-init.js"></script>
  <script src="/assets/js/choices.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/main-script.js"></script>
  <title>Signup here</title>
</head>

<body>
  <div class="container-full-width">
    <div class="panel-container">
      <div class="feature-container feature-container--signup">
        <img class="company-logo" src="./assets/img/logo.png" alt="company logo" />
        <div class="feature-sidebar">
          <div class="feature-ours">
            <h3 class="feature-ours__sub-title">The Perfect Investment</h3>
            <h2 class="feature-ours__title">At Credit tech you can easily find creditor and make an invest</h2>
          </div>
          <div class="signup-quote">
            <h2 class="signup-quote__title">Why Credit Tech?</h2>
            <p class="signup-quote__content">At first I Invested little and by time pass I Invested to the sector I like and Credit Tech takes me right there</p>
            <p
              class="signup-quote__name">John Doe</p>
              <a class="btn btn-white">What others say?</a>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="signup-form-container">
          <header class="page-header">
            <h1 class="page-title">Sign Up to Credit Tech as an Investor </h1>
            <p class="page-desc">Enter your details below</p>
          </header>
          <form class="form-signup" action="signin.html">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="first-name">First Name</label>
                  <input class="form-control" type="text" name="first-name" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="last-name">Last Name</label>
                  <input class="form-control" type="text" name="last-name" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input class="form-control" type="text" name="company-name" />
            </div>
            <div class="form-group">
              <label for="email-address">Email Address</label>
              <input class="form-control error" type="email" name="email-address" />
              <span class="error-text">Incorrect Password</span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control green mb-2" type="password" name="password" />
              <span>Password Strength:
                <b class="green-text"> Strong</b>
              </span>
              <ul class="p-0 mt-2">
                <li class="d-flex mb-1">
                  <img src="assets/img/icons/bx-check-circle.svg" alt="alt" />
                  <span class="pl-2 green-text">Must not contain your name or email</span>
                </li>
                <li class="d-flex mb-1">
                  <img src="assets/img/icons/bx-check-circle.svg" alt="alt" />
                  <span class="pl-2 green-text">Atleast of 8 characters</span>
                </li>
                <li class="d-flex">
                  <img src="assets/img/icons/bx-check-circle.svg" alt="alt" />
                  <span class="pl-2 green-text">Should contain symbol and number </span>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input class="form-control" type="password" name="confirm-password" />
            </div>
            <div class="form-group">
              <label for="phone-number">Phone Number</label>
              <div class="row">
                <div class="col-2">
                  <select class="form-control" id="countries"></select>
                </div>
                <div class="col-10">
                  <input class="form-control ml-4" type="tel" name="phone-number" />
                </div>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" name="agreed-term" checked="checked" />
              <label for="phone-number">I agree to the
                <a href="">Terms & Conditions</a>
              </label>
            </div>
            <button class="btn btn-primary btn-form" type="submit">Sign Up Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>