<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/boxicon.css" />
    <link rel="stylesheet" href="assets/css/tablesaw.css" />
    <script src="assets/js/tablesaw.js"></script>
    <script src="assets/js/tablesaw-init.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone-amd-module.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"></script>
    <script src="assets/js/main-script.js"></script>
    <title>Add New Product</title>
  </head>

  <body>
    <div className="container-full-height ct-container">
      <div className="sidebar">
        <nav className="nav-sidebar">
          <ul className="menu-sidebar">
            <li className="current-menu has-sub-menu">
              <a href="http://"><i className="bx bx-dollar-circle"></i>Product</a>
              <ul className="sub-menu">
                <li className="current-menu">
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    >All Products</a
                  >
                </li>
                <li>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    >Product Request</a
                  >
                </li>
                <li>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    >Add New Account</a
                  >
                </li>
                <li>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    >All Accounts</a
                  >
                </li>
                <li>
                  <a href="http://" target="_blank" rel="noopener noreferrer"
                    >Account Request</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="http://"><i className="bx bx-news"></i>News & Updates</a>
            </li>
            <li>
              <a href="http://"><i className="bx bx-cog"></i>Settings</a>
            </li>
          </ul>
        </nav>
      </div>
      <div className="main-content main-content--padded">
        <header className="site-header">
          <div className="logo-container">
            <img src="/assets/img/logo.png" alt="Pinhub Logo" />
          </div>
          <nav className="header-actions">
            <ul>
              <li className="header-actions__item">
                <a className="header-notification" href=""
                  ><i className="bx bx-bell"></i
                  ><span className="notification-count">2</span></a
                >
              </li>
              <li className="header-dropdown">
                <a className="header-user-dropdown"
                  ><img src="assets/img/user.png" alt="John Doe"/><i
                    className="bx bx-chevron-down"
                  ></i
                ></a>
              </li>
            </ul>
          </nav>
        </header>
        <div className="content-head">
          <div className="content-head-left">
            <h1 className="content-head__title">All Products</h1>
          </div>
        </div>
        <div className="content-body">
          <form className="form-signup" action="signin.html">
            <div className="row mt-4">
              <div className="col">
                <div className="form-group">
                  <label for="first-name">Product Title</label>
                  <input
                    className="form-control"
                    type="text"
                    name="product-title"
                  />
                </div>
              </div>
              <div className="col">
                <div className="form-group">
                  <label for="first-name"
                    >Geographical region of Interest</label
                  >
                  <select className="form-control regionof-interest">
                    <option value=" ">Select region of interest</option>
                    <option value="Advertisement/Online Marketing"
                      >Advertisement/Online Marketing</option
                    >
                    <option value="Advertisement/Marketing"
                      >Advertisement/Marketing</option
                    >
                    <option value="Advertisement/Offine Marketing"
                      >Advertisement/Offine Marketing</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <div className="row mt-4">
              <div className="col">
                <div className="form-group">
                  <div className="row align-items-end">
                    <div className="col col-10">
                      <label
                        className="d-block mincredit-amount mb-5"
                        for="mincredit-amount"
                        >Minimum Credit Amount
                      </label>
                      <input className="w-100" id="mincredit-amount" type="range" />
                    </div>
                    <div className="col col-2">
                      <input
                        className="form-control"
                        type="text"
                        id="mincredit-amount-value"
                        data-prefix="$"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div className="col">
                <div className="form-group">
                  <div className="row align-items-end">
                    <div className="col col-10">
                      <label className="d-block interest mb-5" for="interest"
                        >Interest</label
                      >
                      <input className="w-100" id="interest" type="range" />
                    </div>
                    <div className="col col-2">
                      <input
                        className="form-control"
                        type="text"
                        id="interest-value"
                        data-sufix="%"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div className="row mt-4">
              <div className="col">
                <div className="form-group">
                  <div className="row align-items-end">
                    <div className="col col-10">
                      <label
                        className="d-block credit-amount mb-5"
                        for="credit-amount"
                        >Credit Amount</label
                      >
                      <input
                        className="w-100"
                        id="credit-amount"
                        type="range"
                        min="0"
                        max="999999"
                        step="1"
                        data-orientation="horizontal"
                      />
                    </div>
                    <div className="col col-2">
                      <input
                        className="form-control"
                        type="text"
                        id="credit-amount-value"
                        data-prefix="$"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div className="col">
                <div className="form-group">
                  <label for="">Tags</label>
                  <select className="form-control" id="tags" multiple="multiple">
                    <option selected="selected" value="orange"
                      >Advertise
                    </option>
                    <option selected="selected" value="Agency">Agency</option>
                    <option selected="selected" value="ad">ad</option>
                    <option selected="selected" value="fund">fund</option>
                  </select>
                </div>
              </div>
            </div>
            <div className="row mt-4">
              <div className="col">
                <div className="form-group">
                  <label className="d-block" for="">File Upload</label>
                  <div className="d-none" id="tpl">
                    <div className="dz-preview dz-file-preview">
                      <div className="dz-progress">
                        <span
                          className="dz-upload"
                          data-dz-uploadprogress=""
                        ></span>
                      </div>
                      <div className="dz-details">
                        <div className="dz-filename"></div>
                        <span data-dz-name=""></span>
                        <div className="dz-size" data-dz-size=""></div>
                        <img src="removebutton.png" alt="X" data-dz-remove="" />
                      </div>
                    </div>
                  </div>
                  <div className="file-upload-display"></div>
                  <div className="border-dotted">
                    <div className="position-relative" id="file_dropzone">
                      <div className="dz-message needsclick w-25 position-absolute">
                        <img
                          className="d-block m-auto"
                          src="./assets/img/icons/bx-cloud-upload.png"
                          alt=""
                        />
                        <div className="text-center mt-3">
                          <a className="font-weight-bold" href="">Add file </a
                          ><span
                            >or drop files here<input
                              className="d-none"
                              type="file"
                              name=""
                          /></span>
                        </div>
                      </div>
                      <div className="fallback">
                        <input name="file" type="file" multiple="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div className="row mt-4">
              <div className="col">
                <button className="btn btn-primary btn-form" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
