@media (max-width: 991.98px) {
    .sidebar {
        transition: all 0.3s;
        position: fixed;
        left: -400px;
        display: block;

        &.active {
            left: 0;
            z-index: 99;
            width: 100vw;
            max-width: none;
            height: 101vh;
        }
    }

    #hamburger {
        display: block;
        margin-right: 2rem;
    }

    #hamburger.open {
        z-index: 100;
        position: fixed;
        right: 10px;
        top: 10px;

        span {
            background: white;
        }
    }

    .main-content--padded {
        padding: 30px;
    }

    // Signup page
    .signup-form-container {
        width: 100%;
        padding: 60px 20px;
    }

    // Login page
    .signin-form-container {
        width: 100%;
        text-align: center;
        padding: 2rem 0rem;

        input {
            width: 80%;
            margin: auto;
        }
    }

    .signin-banner-container {
        padding: 2rem 0rem;
        text-align: center;
    }

    // login page creditor
    .signin-form-container .company-logo {
        left: 45%;
    }

    .signin-container-creditor {
        margin-top: 4rem;
    }

    // table
    .text-right-piehub-table {
        text-align: left;
    }


    // Credit Request
    .credit-request {
        .credit-request-stat {
            text-align: center;
            justify-content: center;

            .stat-alignment-right {
                text-align: center;
            }
        }

        .rightbar {
            margin-top: 50px;
            text-align: left !important;

            .investor-profile {
                float: left;
            }
        }
    }
}