.border-dotted {
	border: 2px dashed $color-secondary;
}

.btn-accept {
	background-color: #40c057;
	color: $color-white;
}

.btn-reject {
	background-color: $color-brand-danger;
	color: $color-white;
}

.btn-option {
	background-color: #dde2eb;
	color: #bec6d6;
}

.alert-sucess {
	background-color: #e2fce6;
	border: 1px solid #91bf97;
	color: #358444;
}

.alert-rejected {
	background-color: #ffe3e3;
	border: 1px solid #ff6b6b;
	color: #f03e3e;
}

.text-right-piehub-table {
	text-align: right !important;
}

.form-control {
	height: 45px !important;
}

.verify {
	position: absolute;
	bottom: 20px;
	right: 10px;
}
