.border-dotted {
    border: 2px dashed $color-secondary;
}

.btn-accept {
    background-color: #40C057;
    color: $color-white;
}

.btn-reject {
    background-color: $color-brand-danger;
    color: $color-white;
}

.btn-option {
    background-color: #DDE2EB;
    color: #BEC6D6;
}

.alert-sucess {
    background-color: #E2FCE6;
    border: 1px solid #91BF97;
    color: #358444;
}

.alert-rejected {
    background-color: #FFE3E3;
    border: 1px solid #FF6B6B;
    color: #F03E3E;
}

.text-right-piehub-table {
    text-align: right !important;
}

.form-control {
    height: 45px !important;
}

.error {
    border: 1px solid #FF8787;
}

.error-text {
    color: #FF8787;
}

.green {
    border: 1px solid $color-brand-success;
}

.green-text {
    color: $color-brand-success;
}


.status-badge {
    display:block;
    padding: 11px 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    width:80%;
    float: right;
}

.status-badge-primary {
    background-color: $color-primary;
    color: $color-white;
    font-size: 10px !important;
}

.status-badge-awaiting {
    background-color: $color-status-awaiting;
    color: $color-text-awaiting;
}

.status-badge-deleted{
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
}

.status-badge-suspended{
    background-color: $color-gray-0;
    color: $color-primary;
}

.status-badge-approved {
    background-color: $color-status-approved;
    color: $color-text-approved;
    // padding: 12px 41px;
}

.status-badge-rejected {
    background-color: $color-status-rejected;
    color: $color-text-rejected;
    // padding: 12px 44px;
}

.select2-container--default {
    width: 100% !important;
}

.verify {
    position: absolute;
    bottom: 0;
    right: 10px;
}