/**
*
* TABLE OF CONTENT
*
* # Reset
* # Typography
* # Elements
* # Froms
* # Navigations
* # Modules
	# Accessibility
	# Alignments
	# Clearings
* # Header
* # Sidebar
* # Content
	# Posts and Pages
	# Asides
	# Comments
* # Footer
* # Media
	# captions
	# galleries
* # Media Queriess
	# Mobile
	# Tablets
	# Computers
* # Print
*
*/
/*=============================================
=            Normalize            =
=============================================*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*=============================================
=            Body Typography            =
=============================================*/
body {
  font-family: "Ubuntu", "helvetica", "arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #364b63;
}

p {
  line-height: 24px;
}

/*=============================================
=            Heading Typography            =
=============================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "helvetica", "arial", sans-serif;
  color: #05101a;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.border-dotted {
  border: 2px dashed #7e91e5;
  height: 200px;
}

.btn-accept {
  background-color: #40c057;
  color: #fff;
}

.btn-reject {
  background-color: #FA5252;
  color: #fff;
}

.btn-option {
  background-color: #dde2eb;
  color: #bec6d6;
}

.alert-sucess {
  background-color: #e2fce6;
  border: 1px solid #91bf97;
  color: #358444;
}

.alert-rejected {
  background-color: #ffe3e3;
  border: 1px solid #ff6b6b;
  color: #f03e3e;
}

.text-right-piehub-table {
  text-align: right !important;
}

.form-control {
  min-height: 45px !important;
}

.error {
  border: 1px solid #FF8787;
}

.error-text {
  color: #FF8787;
}

.verify {
  position: absolute;
  right: 5px;
  bottom: 15px;
}

.company-image .col {
  width: 120px !important;
}

.opacity-none {
  opacity: 0;
}

.z-index-1 {
  z-index: 1;
}

.product-details .product-info {
  margin-bottom: 30px;
}

.product-details .product-info-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6e8398;
}

.product-details .product-info-file .product__file-size {
  color: #bec6d6;
  margin-left: 20px;
}

.notification .notification-item {
  border-bottom: 1px solid #D1D7E2;
}

.notification .notification-item .status {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.notification .notification-item .status.wait {
  background-color: #fff3bf;
  margin-top: 3px;
}

.notification .notification-item .status.sucess {
  background-color: #D3F9D8;
  margin-top: 3px;
}

.notification .notification-item .status.stop {
  background-color: #F9D3D3;
  margin-top: 3px;
}

.notification .notification-item p.wait {
  color: #AB8D0D;
}

.notification .notification-item .time {
  color: #949CAC;
  font-size: 12px;
}

li.header-actions__item .dropdown-menu {
  -webkit-transform: none !important;
          transform: none !important;
  border: 1px solid #BEC6D6;
}

li.header-actions__item .dropdown-menu::after, li.header-actions__item .dropdown-menu::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

li.header-actions__item .dropdown-menu::after {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: white;
  border-width: 20px;
  margin-left: -20px;
}

li.header-actions__item .dropdown-menu::before {
  border-color: rgba(190, 198, 214, 0);
  border-bottom-color: #BEC6D6;
  border-width: 21px;
  margin-left: -21px;
}

.header-actions__item ul {
  display: block !important;
}

.header-actions__item .dropdown-menu-notificaiton {
  width: 270px !important;
  left: -122px !important;
  top: 55px !important;
}

.header-actions__item .dropdown-menu-notificaiton li.notification-item .status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
}

.header-actions__item .dropdown-menu-notificaiton p.wait {
  font-size: 12px;
  line-height: 16px;
}

.header-actions__item .dropdown-menu.dropdown-menu-user {
  left: auto !important;
  width: 170px !important;
  right: 0px !important;
  top: 80px !important;
}

.header-actions__item .dropdown-menu.dropdown-menu-user li {
  padding: 15px 16px 10px 16px;
}

.header-actions__item .dropdown-menu.dropdown-menu-user li:last-child {
  margin: 0 !important;
  border: none;
}

.badge {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  min-width: 100px;
}

.badge-primary {
  background-color: #242a5a;
}

.badge-success {
  background-color: #8ce99a;
  color: #1b8e2c;
}

.badge-warning {
  background-color: #fff3bf;
  color: #f2c500;
}

.badge-danger {
  background-color: #fa5252;
  color: #7c0404;
}

.company-logo-email {
  position: absolute;
  left: 10%;
  top: 5%;
}

.line {
  position: absolute;
  top: 20%;
  left: 6%;
  z-index: 0;
  background-color: #242a5a;
  height: 2px;
  width: 90%;
}

.indicator {
  border: 2px solid #242a5a;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  z-index: 1;
  background-color: #fff;
}

.indicator.active {
  background-color: #242a5a;
  color: #fff;
}

.email-content img {
  margin-bottom: 40px;
}

ul
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

.table {
  border-bottom: 1px solid #dee2e6;
}

.table thead td,
.table thead th {
  border-top: none;
}

.table td,
.table th {
  padding: 15px;
  vertical-align: middle;
}

.table td:first-child,
.table th:first-child {
  padding-left: 0;
}

.table td:last-child,
.table th:last-child {
  padding-right: 0;
}

a {
  color: #05101a;
}

a:hover, a:focus, a:active {
  color: #242a5a;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  color: #242a5a;
}

.nav-sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-sidebar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: relative;
  padding: 12px 30px;
}

.nav-sidebar ul li ul {
  padding: 0 0 10px 0;
}

.nav-sidebar ul li ul li.current-menu a {
  font-weight: 700;
}

.nav-sidebar ul li ul li.current-menu a::before {
  background-color: #fff;
}

.nav-sidebar ul li ul li a {
  font-size: 12px;
  padding: 6px 30px 6px 60px;
}

.nav-sidebar ul li ul li a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 35px;
  top: 12px;
}

.nav-sidebar ul li ul li a:hover {
  color: #a3a9da;
}

.nav-sidebar > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-sidebar > ul > li > a {
  font-size: 14px;
  font-weight: 700;
}

.nav-sidebar > ul > li > a::after {
  position: absolute;
  right: 30px;
  font-family: "boxicons";
  display: inline-block;
  content: "\ea48";
}

.nav-sidebar > ul > li > a i {
  padding-right: 10px;
  font-size: 18px;
}

.nav-sidebar > ul > li:hover, .nav-sidebar > ul > li.current-menu {
  background-color: #2b336c;
}

.pagination li {
  margin-right: 15px;
}

.pagination li.active .page-link {
  background-color: #242a5a;
  border-color: #242a5a;
}

.pagination li a {
  border-color: #e4e4e4;
  border-radius: 3px;
  color: #05101a;
}

.pagination li a i {
  font-size: 20px;
}

.pagination li:first-child a, .pagination li:last-child a {
  padding: 5px 6px;
}

/*=============================================
=            Accesibility            =
=============================================*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #c7cad1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #c7cad1;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact_person {
  margin-left: 2.1rem;
}

.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  clear: both;
}

/*=============================================
=            Button            =
=============================================*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  font-size: 14px;
  line-height: 1;
  padding: 15px 20px;
  color: #364b63;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #ddd;
}

.btn {
  padding: 12px 25px;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
}

.btn-primary {
  background-color: #242a5a;
}

.btn-primary:hover {
  background-color: #151936;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #242a5a;
}

.btn-white {
  background-color: #fff;
  color: #05101a;
}

.btn-form {
  margin-top: 20px;
}

.btn-outline-light {
  border: 2px solid #F4F7FC;
  background: transparent;
  color: #6E8398;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  width: 100%;
  color: #242a5a;
}

input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #364b63;
  border: 1px solid #c7cad1;
  padding: 3px;
}

input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #05101a;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #242a5a;
  height: 5px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #242a5a;
  border-radius: 50px;
  background: #fff;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 3px solid #242a5a;
  border-radius: 50px;
  background: #fff;
}

select {
  border: 1px solid #c7cad1;
}

select.regionof-interest {
  background-image: #fff !important;
  background-size: 5px 5px;
}

label {
  font-weight: 600;
  margin-bottom: 15px;
  color: #212529;
}

#file_dropzone {
  min-height: 200px;
  cursor: pointer;
}

.dz-success-mark,
.dz-error-mark {
  display: none;
}

.dz-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.dz-size {
  margin-left: 2rem;
}

.border-dotted-center {
  left: 35%;
  top: 35%;
}

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px 0px;
}

.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

.radio:hover .label::after {
  -webkit-transform: scale(3.6);
          transform: scale(3.6);
}

input[type="radio"]:checked + .label {
  border-color: #225cff;
}

input[type="radio"]:checked + .label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.cntr {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"] input::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  content: url("../img/icons/bx-calender.svg");
  opacity: 1;
}

.industry-list {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 25px 15px 15px 15px;
}

.industry-list .industry-item {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-top: 10px;
}

.rating .rating-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 50%;
  margin-bottom: 1rem;
}

.form-control {
  min-height: 45px;
}

.form-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-group-inline input[type="text"] {
  width: 90px;
}

.form-group-ranger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group-ranger .range-slider {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 4px;
  border-radius: 50px;
  margin-right: 5px;
}

.form-group-ranger .range-slider .noUi-connect {
  background-color: #242a5a;
}

.form-group-ranger .range-slider.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border: 3px solid #242a5a;
  border-radius: 50px;
  top: -8px;
}

.form-group-ranger .range-slider.noUi-horizontal .noUi-handle::before, .form-group-ranger .range-slider.noUi-horizontal .noUi-handle::after {
  content: none;
}

.form-group-ranger .input-group {
  width: 200px;
}

.form-group-ranger .input-group:last-child {
  margin-left: 15px;
}

.form-group-ranger .form-control {
  text-align: center;
  width: 150px;
}

.form-group-ranger .form-control:last-child {
  margin-left: 15px;
}

.form-filter {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-filter .form-group {
  margin-left: 15px;
}

.choices__button {
  padding: 0;
}

.rw-multiselect .rw-input-reset {
  height: 45px !important;
}

.file-upload-section__title {
  display: block;
  margin-bottom: 30px;
}

.file-uploader {
  border: 1px dashed #c7cad1;
  text-align: center;
  padding: 30px;
}

.file-uploader img {
  display: block;
  margin: 0 auto 10px auto;
}

.file-uploader--small {
  min-height: 90px;
  padding: 15px;
}

.input-range__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #5a2424;
  border: 1px solid #245a48;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  width: 1rem;
  border: 2px solid #969696;
  width: 24px;
  height: 24px;
  margin-top: -1.2rem;
  background: #f4f4f4;
  border: 2px solid #969696;
  width: 15px;
  height: 15px;
  margin-top: -0.6rem;
  background: #f4f4f4;
}

.input-range__slider:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.input-range__slider:focus {
  -webkit-box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
          box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #242a5a;
  border: 1px solid #cccccc;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  white-space: nowrap;
  display: none;
  display: none;
}

.input-range__label--min {
  bottom: -1.4rem;
  position: absolute;
  left: 0;
}

.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  right: 0;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out;
  height: 12px;
  height: 6px;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
  background: #242A5A;
  background: #242A5A;
}

.input-range__track--active {
  background: #3f51b5;
  background: #242A5A;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

.page-header {
  margin-bottom: 30px;
}

.page-header .page-title {
  font-size: 32px;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.header-actions ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header-actions .header-notification {
  margin-right: 25px;
  font-size: 22px;
  color: #6e8398;
  display: block;
  position: relative;
}

.header-actions .header-notification .notification-count {
  top: -5px;
  right: -5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #6ee8d8;
}

.header-actions .header-user-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-actions .header-user-dropdown img {
  margin-right: 5px;
}

.header-actions .header-user-dropdown i {
  font-size: 16px;
}

.logo-container,
.header-actions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.content-head__title {
  font-size: 26px;
}

.language-changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language-changer li {
  margin-right: 15px;
}

.language-changer li button {
  padding: 0;
  background: none;
  border: none;
}

.language-changer li button img {
  margin-right: 5px;
}

.language-changer li.active {
  border-bottom: 1px solid #868e96;
}

.container-full-width {
  width: 100%;
}

.panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.feature-container,
.main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 550px;
  padding: 60px;
  text-align: center;
}

.feature-container--signup {
  background-image: url("../img/signup-bg.jpg");
  background-size: cover;
  padding: 80px;
}

.feature-container--creditor--signup {
  background-image: url("../img/Signup-banner.png");
  background-size: cover;
  padding: 80px;
}

.container-full-height {
  min-height: 100vh;
}

.ct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.main-content--padded {
  padding: 30px 60px;
}

.sidebar {
  background-color: #242a5a;
  max-width: 240px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar .nav-sidebar {
  margin-top: 75px;
}

.nav-sidebar ul li ul li a::before {
  background-color: transparent;
}

.nav-sidebar ul li ul li.current-menu a::before {
  background-color: transparent;
}

#hamburger {
  width: 35px;
  height: 40px;
  position: relative;
  float: left;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 10px 10px 0 0;
  display: none;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #242a5a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
  top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
  top: 15px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
  top: 30px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburger.open span:nth-child(5) {
  left: 5px;
  top: 15px;
}

#hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 15px;
}

.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*=============================================
=            Gallery            =
=============================================*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.wp-block-gallery {
  margin: 0;
}

.content-footer {
  padding: 30px 0 0 0;
}

.panel-container .company-logo {
  position: absolute;
  top: 50px;
  left: 30px;
}

.feature-ours {
  margin-bottom: 80px;
  margin-top: 13rem;
}

.feature-ours .feature-ours__sub-title {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
}

.feature-ours .feature-ours__title {
  font-size: 18px;
  color: #fff;
}

.signup-quote .signup-quote__title {
  color: #fff;
  font-size: 26px;
  margin-bottom: 20px;
}

.signup-quote .signup-quote__content,
.signup-quote .signup-quote__name {
  color: #fff;
}

.signup-quote .signup-quote__content {
  position: relative;
  font-size: 1rem;
}

.signup-quote .signup-quote__content::before {
  content: url("../img/icons/bxs-quote-left.svg");
  position: absolute;
  left: -30px;
  top: 0;
}

.signup-quote .signup-quote__content::after {
  content: url("../img/icons/bxs-quote-right.svg");
  position: absolute;
  right: -30px;
  bottom: 0;
}

.signup-quote .signup-quote__name {
  font-weight: 700;
  margin-bottom: 30px;
}

.signup-form-container {
  width: 80%;
  padding: 60px;
}

input[type='email'].error {
  position: relative;
}

input[type='email'].error::after {
  content: url(../img/icons/bx-x.svg);
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

span.select2-selection--single {
  height: 45px;
}

.signin-form-container,
.signin-banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin-banner-container {
  background-color: #242a5a;
}

.signin-form-container,
.signin-banner {
  padding: 0 60px;
}

.signin-banner__header {
  max-width: 500px;
}

.signin-banner__title {
  color: #fff;
}

.signin-banner__desc {
  color: #ced4da;
  margin-bottom: 60px;
}

.signin-banner__thumb {
  max-width: 100%;
}

.form-signin {
  width: 100%;
  min-width: 500px;
}

.signin-form-container .company-logo {
  position: absolute;
  top: 5%;
  left: 24%;
}

@media (max-width: 991.98px) {
  .sidebar {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    left: -400px;
    display: block;
  }
  .sidebar.active {
    left: 0;
    z-index: 99;
    width: 100vw;
    max-width: none;
    height: 101vh;
  }
  #hamburger {
    display: block;
    margin-right: 2rem;
  }
  #hamburger.open {
    z-index: 100;
    position: fixed;
    right: 10px;
    top: 10px;
  }
  #hamburger.open span {
    background: white;
  }
  .main-content--padded {
    padding: 30px;
  }
  .signup-form-container {
    width: 100%;
    padding: 60px 20px;
  }
  .signin-form-container {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
  }
  .signin-form-container input {
    width: 80%;
    margin: auto;
  }
  .signin-banner-container {
    padding: 2rem 0rem;
    text-align: center;
  }
  .signin-form-container .company-logo {
    left: 45%;
  }
  .signin-container-creditor {
    margin-top: 4rem;
  }
  .text-right-piehub-table {
    text-align: left;
  }
  .credit-request .credit-request-stat {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .credit-request .credit-request-stat .stat-alignment-right {
    text-align: center;
  }
  .credit-request .rightbar {
    margin-top: 50px;
    text-align: left !important;
  }
  .credit-request .rightbar .investor-profile {
    float: left;
  }
}

@media (max-width: 639px) {
  .header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-actions .language-changer {
    margin-bottom: 1rem;
  }
  .header-actions .language-changer:last-child {
    margin-right: 0px !important;
  }
  .credit-request .rightbar {
    text-align: left !important;
  }
  .credit-request .rightbar .investor-profile {
    float: left;
  }
  .signup-form-container {
    width: 100%;
    padding: 60px 30px;
  }
  .table.tablesaw-stack tr td:first-child {
    border-top: 2px solid #242a5a;
  }
}
