.signin-form-container,
.signin-banner-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin-banner-container {
	background-color: $color-primary;
}

.signin-form-container,
.signin-banner {
	padding: 0 60px;
}

.signin-banner {
	&__header {
		max-width: 500px;
	}

	&__title {
		color: $color-white;
	}
	
	&__desc {
		color: $color-gray-4;
		margin-bottom: 60px;
	}

	&__thumb {
		max-width: 100%;
	}
}

.form-signin {
	width: 100%;
	min-width: 500px;
}
