.sidebar {
	background-color: $color-primary;
	max-width: 340px;
	height: 100vh;
	flex: 1;
}

.nav-sidebar ul li ul li a::before{
	background-color: transparent;
}
.nav-sidebar ul li ul li.current-menu a::before{
	background-color: transparent;
}