/*=============================================
=            Button            =
=============================================*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-button-border;
	border-radius: 3px;
	background: $color-button-bg;
	font-size: $font-size-base;
	line-height: 1;
	padding: 15px 20px;
	color: $color-body;

	&:hover {
		border-color: $color-button-border-hover;
	}

	&:active,
	&:focus {
		border-color: $color-button-border-focus;
	}
}

.btn {
	padding: 12px 25px;
	border: 0;
	text-transform: uppercase;
	font-size: $font-size-small;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 3px;
}

.btn-primary {
	background-color: $color-primary;

	&:hover {
		background-color: darken($color-primary, 10);
	}

	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active {
		background-color: $color-primary;
	}
}
