input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
	color: $color-primary;
}

input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-input-text;
	border: 1px solid $color-border;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color-input-text-focus;
	}
}

input[type="range"] {
	background-color: inherit;
	width: 20px;
	height: 20px;

	&::-webkit-slider-thumb {
		background-color: red;
	}
}

select {
	border: 1px solid $color-input-border;
}

select.regionof-interest {
	background-image: $color-white !important;
	background-size: 5px 5px;
}

label {
	font-weight: 500;
	margin-bottom: 15px;
	color: $color-gray-9;
}

//Dropzone
#file_dropzone {
	min-height: 200px;
	cursor: pointer;
}

.dz-success-mark,
.dz-error-mark {
	display: none;
}

.dz-details {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.dz-size {
	margin-left: 2rem;
}

.dz-message {
	left: 35%;
	top: 35%;
}


// Range
.rangeslider--horizontal {
	margin-bottom: 15px;
}

// progress bar
.progress-bar {
	background-color: black;
}

// Tags
.select2-selection__choice {
	padding: 4px 10px 4px 10px !important;
}

// radio buttons
.radio {
	position: relative;
	cursor: pointer;
	line-height: 20px;
	font-size: 14px;
	margin: 15px 0px;
}

.radio .label {
	position: relative;
	display: block;
	float: left;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border: 2px solid #c8ccd4;
	border-radius: 100%;
	-webkit-tap-highlight-color: transparent;
}

.radio .label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #225cff;
	transform: scale(0);
	transition: all 0.2s ease;
	opacity: 0.08;
	pointer-events: none;
}

.radio:hover .label:after {
	transform: scale(3.6);
}

input[type="radio"]:checked+.label {
	border-color: #225cff;
}

input[type="radio"]:checked+.label:after {
	transform: scale(1);
	transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
	opacity: 1;
}

.cntr {
	position: absolute;
	top: calc(50% - 10px);
	left: 0;
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;
}

// Date picker
input[type='date'] {

	&::-webkit-inner-spin-button,
	input::-webkit-clear-button {
		display: none;
	}

	&::-webkit-calendar-picker-indicator {
		content: url('../img/icons/bx-calender.svg');
		opacity: 1;
	}
}

// Range slider
input[type="range"] {
	appearance: none;
	border: none;
	background-color: $color-primary;
	height: 4px;

	&:focus {
		outline: none;
	}
}
